body{
    background-image: url(imagens/fundo.jpg);
    background-size: cover;
    
}

.subtitulo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS',;
    font-size: 26px;
    font-weight: bold; /*negrito*/
    

}

.fundo{
    background-color: rgba(0, 0, 0, 0.568);
    text-align: center;
    padding-top: 200px;
    height: 100vh;
}

.titulo{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Trebuchet MS',;
    font-size: 52px;
    font-weight: bold; /*negrito*/

}

.botao{
    
    border: 1px solid white; /*tipos de bordas solid, dashed, dotted, double*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 


}

.destaque{
    color: black;
    background-color: rgb(255, 255, 255);
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
